// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
.navbar-lewagon {
  justify-content: space-between;
  background: white;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.container {
  max-width: 100%;
  padding: 0px;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.flat-card-image {
  height: 250px;
  background-position: center;
  background-size: cover;
}

.flat-card {
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  overflow: hidden;
}

.flex {
  flex-direction: column;
  display: flex;
}

.card-info {
    padding: 24px 24px 0px 24px;
    background-color: #F8F9FA;
}

.flat-card-links {
  padding: 24px;
}

a {
  font-size: 15px;
}

h1 {
  text-align: center;
}

.header {
  align-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.card-info-details {
  padding: 10px 10px 10px 0px;
  margin: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.card-info-details p, i {
  margin: 5px;
  }
